<mat-tab-group mat-align-tabs="center" class="tab-group">
    <mat-tab label="Comics">
        <div fxLayout="row" fxLayoutAlign="start center" >
            <mat-card class="example-card"
            >
                <mat-card-header>
                  <mat-card-title>Name</mat-card-title>
                  <mat-card-subtitle>Description</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of Hero">
              </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Creators">
        <div fxLayout="row" fxLayoutAlign="start center" >
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Name</mat-card-title>
                  <mat-card-subtitle>Description</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of Hero">
              </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Characters">
        <div fxLayout="row" fxLayoutAlign="start center" >
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Name</mat-card-title>
                  <mat-card-subtitle>Description</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of Hero">
              </mat-card>
        </div>
    </mat-tab>
  </mat-tab-group>